/* Reset */
body {
  margin: unset;
}

img {
  max-width: 100%;
  vertical-align: top;
}

figure {
  margin: unset;
}

/* CSS Variables */
:root {
  --color-green: #8FBC8F;
  --color-red: #FF2E00;
  --color-white: #fff;
  --color-gray-50: #999;
  --color-gray-80: #222;
  --color-gray-90: rgb( var(--color-gray-90-rgb) / 1 ); 
  --color-gray-90-rgb: 17 17 17; /* #111 */
  --color-black: #000;
}

/* Component */
body {
  background-color: var(--color-gray-90);
  color: var(--color-green);
  text-align: center;
}

.l_wrapper {
  margin: 100px auto;
  max-width: 240px;
}

.casts {
  display: flex;
}

.casts-icon {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border: 4px solid #111;
  margin-right: -20px;
  position: relative;
}

.casts-icon img {
  border-radius: 50%;
}

.casts-icon figcaption {
  background-color: dodgerblue;
  position: absolute;
  left: 50%;
  top: 0;
  white-space: nowrap;
}
